<template lang="html">
  <div>
    <b-container class="mt-5">
      <b-button variant="primary" class="mb-3" to="/"><b-icon icon="arrow-left"></b-icon> Volver</b-button>
      <b-jumbotron>
        <h1>Registros</h1>
        <br>
        <h3><strong>Habitaciones ocupadas:</strong> {{ catidad_habitaciones }}</h3>
        <h3><strong>Baño:</strong> {{ catidad_bano }}</h3>
        <h3><strong>Manicurería:</strong> {{ catidad_manicura }}</h3>
        <h3><strong>Peluquería:</strong> {{ catidad_peluqueria }}</h3>
      </b-jumbotron>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios';
import { apiURL } from '@/api/UrlBase.js';

export default {
  data() {
      return {
        apiURL,
        catidad_habitaciones: 0,
        catidad_manicura: 0,
        catidad_peluqueria: 0,
        catidad_bano: 0
      }
    },
	beforeMount(){
    this.habitacionesOcupadas();
  }, 
  methods: {
    async habitacionesOcupadas() {
      let data = await axios.get(this.apiURL+'/sitios-ocupados').then(function (response) {
        // handle success
        console.log(response)
        return response.data
      })
      .catch(function (error) {
        // handle error
        console.log(error)
        return 
      })

      this.catidad_habitaciones= data.catidad_habitaciones
      this.catidad_manicura= data.catidad_manicura
      this.catidad_peluqueria= data.catidad_peluqueria
      this.catidad_bano= data.catidad_bano
    },
  },
}
</script>