<template lang="html">
  <div>
    <b-container class="mt-5">
      <b-button variant="primary" class="mb-3" to="/"><b-icon icon="arrow-left"></b-icon> Volver</b-button>
      <b-jumbotron>
        <h1>Listado de Mascotas</h1>
        <br>
        <div v-if="items.length">
          <b-table striped hover light :head-variant="'dark'" :items="items"></b-table>
        </div>
        <div v-else>
          <h3>No existen mascotas registradas..</h3>
        </div>
      </b-jumbotron>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios';
import { apiURL } from '@/api/UrlBase.js';

export default {
  data() {
      return {
        apiURL,
        // items: [
        //   { age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
        //   { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
        //   { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
        //   { age: 38, first_name: 'Jami', last_name: 'Carney' }
        // ]
        items: []
      }
    },
	beforeMount(){
    this.listadoMascotas()
  }, 
  methods: {
    async listadoMascotas() {
      let data = await axios.get(this.apiURL+'/listado-perros').then(function (response) {
        // handle success
        console.log(response.data)
        return response.data
      })
      .catch(function (error) {
        // handle error
        console.log(error)
      })

      if(data){
        this.items= data.listado.map(item => {
          return {
            'Cédula Dueño': 'V-'+item.perro.cedula,
            'Nombre Mascota': item.perro.nombre,
            'Raza': item.perro.raza,
            'Color': item.perro.color,
            'Sexo': item.perro.sexo,
            'Sitio': item.sitio
          }
        })
      }
    },
  },
}
</script>