<template lang="html">
  <div>
    <b-container class="mt-5">
      <b-button variant="primary" class="mb-3" to="/"><b-icon icon="arrow-left"></b-icon> Volver</b-button>
      <b-jumbotron>
        <b-alert
          :show="dismissCountDown"
          dismissible
          variant="success"
          @dismissed="dismissCountDown=0"
          @dismiss-count-down="countDownChanged">
          <p>Mascota registrada con éxito</p>
          <b-progress
            variant="success"
            :max="dismissSecs"
            :value="dismissCountDown"
            height="4px"
          ></b-progress>
        </b-alert>
        <h2>Registrar Mascota</h2>
        <b-form class="mt-5">
          <b-row align-h="center">
            <b-col sm="6" md="4">
              <b-form-group id="input-group-2" label="Cédula del dueño:">
                  <b-form-input
                    class="mb-2"
                    id="input-1"
                    v-model="form.cedula"
                    required
                    placeholder="XX-XXX-XXX"
                  ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col sm="6" md="4">
              <b-form-group id="input-group-2" label="Nombre Mascota:">
                  <b-form-input
                    class="mb-2"
                    id="input-2"
                    v-model="form.nombre"
                    required
                    placeholder="Nombre mascota"
                  ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="6" md="4">
              <b-form-group id="input-group-2" label="Sexo:">
                  <b-form-select
                    id="input-4"
                    v-model="form.sexo"
                    :options="sexo"
                    required
                  ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col sm="6" md="4">
              <b-form-group id="input-group-2" label="Raza:">
                  <b-form-input
                    class="mb-2"
                    id="input-5"
                    v-model="form.raza"
                    required
                    placeholder="Raza mascota"
                  ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col sm="6" md="4">
              <b-form-group id="input-group-2" label="Color:">
                  <b-form-input
                    class="mb-2"
                    id="input-5"
                    v-model="form.color"
                    required
                    placeholder="Color mascota"
                  ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </b-form>
        <div align="center">
          <b-button v-if="!loading" @click="onSubmit" variant="success">Registrar <b-icon icon="plus"></b-icon></b-button>
          <b-button v-if="loading"  variant="primary" disabled>
               <b-spinner small type="grow"></b-spinner>
               Registrando...
          </b-button>
        </div>
      </b-jumbotron>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios';
import { apiURL } from '@/api/UrlBase.js';

export default {
  data() {
      return {
        loading: false,
        form: {
          cedula: '',
          nombre: '',
          sexo: '',
          raza: '',
          color: ''
       },
       sexo: ['Macho', 'Hembra'],
       dismissSecs: 5,
       dismissCountDown: 0,
       showDismissibleAlert: false
      }
    },
	beforeMount(){
  }, 
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    async onSubmit() {
      console.log(this.form)
      this.loading= true
      let data = await axios.post(apiURL+'/perros', this.form).then(function (response) {
        // handle success
        console.log(response)
        return true
      })
      .catch(function (error) {
        // handle error
        console.log(error)
        return false
      })

      this.loading= false
      if (data) {
        this.dismissCountDown = this.dismissSecs
        setTimeout(() => {
          this.$router.push("/")
        },5000)
      }
    },
  },
}
</script>