<template lang="html">
  <div>
    <b-container class="mt-5">
      <b-button variant="primary" class="mb-3" to="/"><b-icon icon="arrow-left"></b-icon> Volver</b-button>
      <b-jumbotron>
        <h2>Registros Mascota</h2>
        <div v-if="registros==''">
          <b-form class="mt-5">
            <b-row align-h="center">
              <b-col sm="6" md="4">
                <b-form-group id="input-group-2" label="Cédula del dueño:">
                    <b-form-input
                      class="mb-2"
                      id="input-1"
                      v-model="form.cedula"
                      required
                      placeholder="XX-XXX-XXX"
                    ></b-form-input>
                </b-form-group>
              </b-col>
              <b-col sm="6" md="4">
                <b-form-group id="input-group-2" label="Nombre Mascota:">
                    <b-form-input
                      class="mb-2"
                      id="input-2"
                      v-model="form.nombre"
                      required
                      placeholder="Nombre mascota"
                    ></b-form-input>
                </b-form-group>
              </b-col>
            </b-row>
          </b-form>
          <div align="center">
            <b-button v-if="!loading" @click="onSubmit" variant="info">Ver Registros <b-icon icon="search"></b-icon></b-button>
            <b-button v-if="loading"  variant="primary" disabled>
                <b-spinner small type="grow"></b-spinner>
                Buscando registros...
            </b-button>
          </div>
        </div>
        <div v-if="registros!=''">
          <h3 class="mt-3">Cantidad de registros: {{ registros }}</h3>
        </div>
      </b-jumbotron>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios';
import { apiURL } from '@/api/UrlBase.js';

export default {
  data() {
      return {
        apiURL,
        loading: false,
        form: {
          cedula: '',
          nombre: ''
       },
       registros: ''
      }
    },
	beforeMount(){
  }, 
  methods: {
    async onSubmit() {
      console.log(this.form)
      this.loading= true
      let data = await axios.get(this.apiURL+'/cantidad-registros?cedula='+this.form.cedula+'&nombre='+this.form.nombre).then(function (response) {
        // handle success
        console.log(response)
        return response.data
      })
      .catch(function (error) {
        // handle error
        console.log(error);
      })
      this.loading= false

      if(data){
        this.registros= data.registros
      }
    },
  },
}
</script>