<template lang="html">
  <div>
    <b-container class="mt-5">
      <b-button variant="primary" class="mb-3" to="/"><b-icon icon="arrow-left"></b-icon> Volver</b-button>
      <b-jumbotron>
        <b-alert
          :show="dismissCountDown"
          dismissible
          variant="success"
          @dismissed="dismissCountDown=0"
          @dismiss-count-down="countDownChanged">
          <p>Mascota retirada con éxito</p>
          <b-progress
            variant="success"
            :max="dismissSecs"
            :value="dismissCountDown"
            height="4px"
          ></b-progress>
        </b-alert>
        <h2>Retirar Mascota</h2>
        <b-form class="mt-5">
          <b-row align-h="center">
            <b-col sm="6" md="4">
              <b-form-group id="input-group-2" label="Cédula del dueño:">
                  <b-form-input
                    class="mb-2"
                    id="input-1"
                    v-model="form.cedula"
                    required
                    placeholder="XX-XXX-XXX"
                  ></b-form-input>
              </b-form-group>
            </b-col>
            <b-col sm="6" md="4">
              <b-form-group id="input-group-2" label="Nombre Mascota:">
                  <b-form-input
                    class="mb-2"
                    id="input-2"
                    v-model="form.nombre"
                    required
                    placeholder="Nombre mascota"
                  ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
        </b-form>
        <div align="center">
          <b-button v-if="!loading" @click="onSubmit" variant="danger">Retirar <b-icon icon="box-arrow-up-right"></b-icon></b-button>
          <b-button v-if="loading"  variant="primary" disabled>
               <b-spinner small type="grow"></b-spinner>
               Retirando mascota...
          </b-button>
        </div>
      </b-jumbotron>
    </b-container>
  </div>
</template>

<script>
import axios from 'axios';
import { apiURL } from '@/api/UrlBase.js';

export default {
  data() {
      return {
        apiURL,
        loading: false,
        form: {
          cedula: '',
          nombre: ''
       },
       dismissSecs: 5,
       dismissCountDown: 0,
       showDismissibleAlert: false
      }
    },
	beforeMount(){
  }, 
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    async onSubmit() {
      this.loading= true
      let data = await axios.post(this.apiURL+'/retirar-perro', this.form).then(function (response) {
        // handle success
        console.log(response.data)
        return response.data
      })
      .catch(function (error) {
        // handle error
        console.log(error);
        return false
      })

      this.loading= false
      if (data.message) {
        this.dismissCountDown = this.dismissSecs
        setTimeout(() => {
          this.$router.push("/")
        },5000)
      }
    },
  },
}
</script>