<template lang="html">
  <div>
    <b-container class="mt-5">
      <b-jumbotron>
        <div align="center">
          <h1>Bienvenido!</h1>
          <h5>Sistema para perros Hotel-Spa</h5>
        </div>
        <br>
        <h3 class="ml-5">Hotel: </h3>
        <div align="center">
          <b-button variant="primary" to="/hotel/listado-mascotas">Ver Listado <b-icon icon="eye"></b-icon></b-button>
          <b-button variant="primary" class="ml-3" to="/hotel/registrar-mascotas">Registrar Mascota<b-icon icon="plus"></b-icon></b-button>
          <b-button variant="primary" class="ml-3" to="/hotel/asignar-mascotas">Asignar Habitación<b-icon icon="award"></b-icon></b-button>
          <b-button variant="primary" class="ml-3" to="/hotel/retirar-mascotas">Retirar Mascota<b-icon icon="box-arrow-up-right"></b-icon></b-button>
          <b-button variant="primary" class="ml-3" to="/hotel/registros-mascotas">Registros <b-icon icon="check-box"></b-icon></b-button>
        </div>
        <br><br><br>
        <h3 class="ml-5">Spa: </h3>
        <div align="center">
          <b-button variant="primary" to="/spa/banos">Baño <b-icon icon="eye"></b-icon></b-button>
          <b-button variant="primary" class="ml-3" to="/spa/peluqueria">Peluquería <b-icon icon="diamond"></b-icon></b-button>
          <b-button variant="primary" class="ml-3" to="/spa/manicura">Manicura <b-icon icon="brush"></b-icon></b-button>
        </div>
        <br>
        <div align="center">
          <b-button variant="primary" class="ml-3" to="/hotel/habitaciones-mascotas">Todos los Registros <b-icon icon="book"></b-icon></b-button>
        </div>
      </b-jumbotron>
    </b-container>
  </div>
</template>

<script>
export default {
  data() {
      return {
      }
    },
	beforeMount(){
  }, 
  methods: {
  },
}
</script>