<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand to="/home">Dogs Hotel-Spa</b-navbar-brand>
            
        </b-navbar>
    </div>
</template>